extends layout

block content
	div#wrap
		header 
			h1 HOW IT WORK
			a.back(href="/")
				img(src="img/backbutton.png", height="44")
		div#content
			figure
				img(src='./img/sample.png')
				figcaption Choose a photo or snap it
			figure
				img(src='./img/sample.png')
				figcaption Print and collect your printout
	footer
		a(href='/') Back