extends layout

block content
	link(href='stylesheets/jquery.cropbox.css', rel='stylesheet')
	div#wrap
		header
			h1 CROP
			a.back(href="/photo-selection")
				img(src="img/backbutton.png", height="30")
		img.cropimage(alt="" src="#{src}")
		form#crop(role='form', method='post', action='crop')
			input(type='hidden', name='x', id='x')
			input(type='hidden', name='y', id='y')
			input(type='hidden', name='w', id='w')
			input(type='hidden', name='h', id='h')
			input(type='hidden', name='name', value='#{name}')
	footer
		a#upload-crop(href="javascript:void(0);") NEXT: Printing Option 
	div.backdrop.fade.in
		img(src='/img/loader.gif')
	script(type='text/javascript', src='js/jquery.min.js')
	script(type='text/javascript', src='js/hammer.js')
	script(type='text/javascript', src='js/jquery.cropbox.js')
	script(type='text/javascript', src='js/crop-03.js')