extends layout

block content
	div#wrap
		header 
			h1 PRINT IN PROGRESS
			a.back(href="/photo-print")
				img(src="img/backbutton.png", height="44")
		div#content
			p.progres Your photo is being printed now. You can collect your photo at the printer in a bit
			div.social
				a.fb(href='http://facebook.com') facebook
				a.tt(href='http://twiteer.com') twiteer
				a.feedback(href='#') feedback
	footer
		a(href='/photo-selection') PRINT ANOTHER PHOTO? CLICK HERE!
